<div class="row">
    <div class="col col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col col-xs-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let recipe of recipes">
                <div class="float-left">
                    <h4 class="mb-1">{{recipe.name}}</h4>
                    <p class="mb-1">{{recipe.description}}</p>
                </div>
                <div class="float-right">
                    <span class="mb-1">
                        <img [src]="recipe.imgPath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
                    </span>
                </div>
            </li>
        </ul>
        <app-recipe-item></app-recipe-item>
    </div>
</div>